# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
PROYECTO_CATAN_V1.0/.vs/PROYECTO_CATAN_V1.0/FileContentIndex/ef9b0d3a-9b54-4686-8726-96e08e0f8100.vsidx
PROYECTO_CATAN_V1.0/.vs/PROYECTO_CATAN_V1.0/FileContentIndex/e1eb2b82-24b5-4cdf-a273-8c5b0091d5fd.vsidx
PROYECTO_CATAN_V1.0/.vs/PROYECTO_CATAN_V1.0/FileContentIndex/d11fc574-8a96-446d-a5bd-384ceab70ecc.vsidx
PROYECTO_CATAN_V1.0/.vs/PROYECTO_CATAN_V1.0/FileContentIndex/a88e4a2c-f60a-41d3-aa76-782bebe64877.vsidx
PROYECTO_CATAN_V1.0/.vs/PROYECTO_CATAN_V1.0/FileContentIndex/968ca288-5b0d-4338-b38b-d31b0c7d3218.vsidx
PROYECTO_CATAN_V1.0/.vs/PROYECTO_CATAN_V1.0/FileContentIndex/8b15fd45-e15f-4602-b6da-38e8010bbb33.vsidx
PROYECTO_CATAN_V1.0/.vs/PROYECTO_CATAN_V1.0/FileContentIndex/896f9a53-29c8-4a13-8980-a0d39ae2d3e1.vsidx
PROYECTO_CATAN_V1.0/.vs/PROYECTO_CATAN_V1.0/FileContentIndex/661dda47-f718-4641-a24f-5d1b527997c0.vsidx
PROYECTO_CATAN_V1.0/.vs/PROYECTO_CATAN_V1.0/FileContentIndex/37145922-71aa-45dd-a9a1-e022377779b2.vsidx
